body {
  background-image: url("https://w.forfun.com/fetch/6b/6b15c5f640a7d5ae363dd98e875c8352.jpeg");
  background-size: cover;
  background-position: center;
}
.titulo{
  font-size: 20px;
}
.botones {
  width: 100%;
  text-align: center;
  font-family: "Homer Simpson UI"
}

.boton4 {
  color: rgba(255, 253, 253, 0.9) !important;
  font-size: 60px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background-image: url("https://i.pinimg.com/originals/d0/0e/f2/d00ef2e54de196caaf4ee3eb56be010c.jpg");
  border: 2px solid;
  border-color: rgb(255, 255, 255);
  position: relative;
  box-shadow: 0 10px 6px rgb(182, 214, 255);
}

.boton4:hover {
  background-image: none;
  background-color: white;
  color: rgb(9, 15, 97) !important;
  box-shadow: 0 8px 32px rgb(255, 255, 255);
  transition: all 0.2s ease;
}

.boton3 {
  color: rgba(255, 253, 253, 0.9) !important;
  font-size: 30px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background-image: url("https://i.pinimg.com/originals/d0/0e/f2/d00ef2e54de196caaf4ee3eb56be010c.jpg");
  border: 2px solid;
  border-color: rgb(255, 255, 255);
  position: relative;
  box-shadow: 0 10px 6px rgb(137, 183, 243);
}

.boton3:hover {
  background-image: none;
  background-color: white;
  color: rgb(9, 15, 97) !important;
  box-shadow: 0 8px 32px rgb(255, 255, 255);
  transition: all 0.2s ease;
}

.boton2 {
  color: rgba(255, 253, 253, 0.9) !important;
  font-size: 30px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background-color: rgba(187, 209, 250, 0.582);
  border: 2px solid;
  border-color: rgb(255, 255, 255);
  position: relative;
  box-shadow: 0 10px 6px rgb(128, 183, 255);
}

.boton2:hover {
  background-image: none;
  background-color: white;
  color: rgb(9, 15, 97) !important;
  box-shadow: 0 8px 32px rgb(255, 255, 255);
  transition: all 0.2s ease;
}

.letrasCrearContacto1{
  color: aliceblue;
  font-size: 100px;
  text-shadow: 6px 6px 6px rgb(149, 207, 255);
}
.letrasCrearContacto2{
  color: aliceblue;
  font-size: 60px;
  text-shadow: 6px 6px 6px rgb(149, 207, 255);
}
.letrasCrearContacto3{
  color: rgb(46, 106, 235);
  font-size: 40px;
}
.input {
  background-color: rgb(173, 212, 230);
}